### 리스트 만들기

In [1]:
# 자바, C
# int name = [11,12,13]

# 파이썬 (데이터 타입은 같지 않아다 된다.)
name1 = [ "신동욱", 11, 2.73, True ]
print( name1 )

['신동욱', 11, 2.73, True]

In [2]:
# 빈 리스트의 샘플 코드
empty_list = []

In [3]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80 점
student1 = [ 90, 95, 85, 80 ]
print(student1)

[90, 95, 85, 80]

In [4]:
type(student1)

list

In [5]:
print( student1[0] )
print( student1[1] )

90
95

In [7]:
print( student1[-1] )
print( student1[-2] )

80
85

In [8]:
print( student1[1] )

95

In [9]:
student1[1] = 100

In [10]:
print( student1[1] )

100

In [11]:
print(student1)

[90, 100, 85, 80]

In [12]:
student_2 = ["조철호", "마가진", "황영범"]
print(student_2)

['조철호', '마가진', '황영범']

In [13]:
print( student_2[1] )

마가진

In [14]:
student_2[1] = "조효석"

In [15]:
print(student_2)

['조철호', '조효석', '황영범']

In [16]:
print(student_2[0])

조철호

In [18]:
student_2[0] = "마가진"
print(student_2[-3])

마가진

In [19]:
mixedList = [0, 2, 3.14, 'python', 'program', True, student_2]
print(mixedList)

[0, 2, 3.14, 'python', 'program', True, ['마가진', '조효석', '황영범']]

In [24]:
# mixedList 리스트 변수에서 '마가진' 뽑기
print( mixedList[-1][0] )

마가진

## 리스트 다루기

### 리스트 더하기와 곱하기

In [25]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
list_con1 = [1,2,3,4]
list_con = list_con1 * 3

print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [36]:
list_data = [0,1,2,3,4,5,6,7,8,9]

print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:5])
print(list_data[7:])

print(list_data[::2]) # print(list_data[0:10:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2, 3, 4]
[7, 8, 9]
[0, 2, 4, 6, 8]

#### 리스트에서 항목 삭제하기

In [38]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

#### 리스트에서 항목의 존재 여부 확인하기

In [40]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

#### 리스트 메서드 활용하기

In [46]:
myFriends = [ 'James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append( 'Thomas')

['James', 'Robert', 'Lisa', 'Mary']

In [47]:
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [48]:
myFriends = [ 'James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [50]:
myFriends.insert( 1, 'Paul')
print(myFriends)

['James', 'Paul', 'Paul', 'Robert', 'Lisa', 'Mary']

In [51]:
myFriends = [ 'James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [59]:
myFriends.extend['Laura', 'Betty']
print(myFriends)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [1]:
student1 = [90 ,95, 85, 80]
print(student1)

[90, 95, 85, 80]

In [2]:
print(student1[0])
print(student1[1])
print(student1[2])

90
95
85

In [1]:
student1[1] = 100
print(student1)

NameError: name 'student1' is not defined