In [70]:
import pandas as pd
from bs4 import BeautifulSoup
import glob
from selenium import webdriver
import requests 
import os
import time

In [90]:
driver = webdriver.Chrome('c:/chromedriver.exe')

url ='file:///C:/Users/Playdata/Desktop/shinhancard/shinhancard_20191210_900046432.html'
# url = 'file:///C:/Users/Playdata/Desktop/shinhancard/shinhancard_20201110_900046432.html'
driver.get(url)
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
title_tag = soup.select('head > title')

title = title_tag[0].text

In [91]:
title

''

In [ ]:
if title == '체크카드 이메일명세서' :

In [71]:
pw = '950730'
driver.find_element_by_id('password').send_keys(pw)
driver.find_element_by_xpath('//*[@id="aform"]/span/input').click()

time.sleep(3)


html = driver.page_source

soup = BeautifulSoup(html,'html.parser')

In [72]:
tables = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr')
# tables = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr > td')
# tables_store = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr > td.textL')
# tables_price = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr > td.textR')
tables_middleSum = soup.select('div#email02 > table.tblList.cardUseList > tbody > tr.middleSum')

tables

[<tr>
 <td>19.10.28</td>
 <td>체크<br/>549</td>
 <td class="textL">서울과학기술대학교소비자생활협동조</td>
 <td class="textR">             1,200</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,200</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.10.28</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.10.29</td>
 <td>체크<br/>549</td>
 <td class="textL">맥도날드</td>
 <td class="textR">             5,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             5,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.10.29</td>
 <td>체크<br/>549</td>
 <td class="textL">다이소(공릉점)</td>
 <td class="textR">             9,020</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             9,020</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.10.30</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">             7,300</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             7,300</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.10.30</td>
 <td>체크<br/>549</td>
 <td class="textL">자판기</td>
 <td class="textR">             1,200</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,200</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.10.31</td>
 <td>체크<br/>549</td>
 <td class="textL">고고치킨</td>
 <td class="textR">             8,500</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             8,500</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.10.31</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">            10,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            10,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.10.31</td>
 <td>체크<br/>549</td>
 <td class="textL">주식회사 무신사</td>
 <td class="textR">           103,428</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">           103,428</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.01</td>
 <td>체크<br/>549</td>
 <td class="textL">리코스타 코인 노래연습장</td>
 <td class="textR">             3,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             3,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.01</td>
 <td>체크<br/>549</td>
 <td class="textL">화로상회 공릉점</td>
 <td class="textR">            13,700</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            13,700</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.03</td>
 <td>체크<br/>549</td>
 <td class="textL">탐앤탐스 공릉역점</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.03</td>
 <td>체크<br/>549</td>
 <td class="textL">세븐일레븐노원공릉그린점</td>
 <td class="textR">             2,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.04</td>
 <td>체크<br/>549</td>
 <td class="textL">씨유서울과학기술대2관점</td>
 <td class="textR">             2,790</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,790</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.04</td>
 <td>체크<br/>549</td>
 <td class="textL">주) 우아한형제들</td>
 <td class="textR">            24,600</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            24,600</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.05</td>
 <td>체크<br/>549</td>
 <td class="textL">서울과학기술대학교소비자생활협동조</td>
 <td class="textR">             1,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.05</td>
 <td>체크<br/>549</td>
 <td class="textL">씨유서울과학기술대2관점</td>
 <td class="textR">             2,340</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,340</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.06</td>
 <td>체크<br/>549</td>
 <td class="textL">밥은</td>
 <td class="textR">             4,500</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             4,500</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.06</td>
 <td>체크<br/>549</td>
 <td class="textL">쿠팡</td>
 <td class="textR">            32,220</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            32,220</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.06</td>
 <td>체크<br/>549</td>
 <td class="textL">씨유서울과학기술대2관점</td>
 <td class="textR">             2,340</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,340</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.06</td>
 <td>체크<br/>549</td>
 <td class="textL">씨유서울과학기술대1관점</td>
 <td class="textR">             1,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.07</td>
 <td>체크<br/>549</td>
 <td class="textL">씨유서울과학기술대1관점</td>
 <td class="textR">             1,260</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,260</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.08</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">             1,700</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,700</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.11.09</td>
 <td>체크<br/>549</td>
 <td class="textL">찬이네곱창</td>
 <td class="textR">            19,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            19,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.09</td>
 <td>체크<br/>549</td>
 <td class="textL">세븐일레븐노원공릉그린점</td>
 <td class="textR">             5,600</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             5,600</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.10</td>
 <td>체크<br/>549</td>
 <td class="textL">이동재스시</td>
 <td class="textR">            34,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            34,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.11</td>
 <td>체크<br/>549</td>
 <td class="textL">서울과학기술대학교소비자생활협동조</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.11</td>
 <td>체크<br/>549</td>
 <td class="textL">GS25 공릉타운점</td>
 <td class="textR">             2,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.12</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">             2,300</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,300</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.11.12</td>
 <td>체크<br/>549</td>
 <td class="textL">맥도날드</td>
 <td class="textR">             5,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             5,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.12</td>
 <td>체크<br/>549</td>
 <td class="textL">탐앤탐스 공릉역점</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.13</td>
 <td>체크<br/>549</td>
 <td class="textL">세븐일레븐노원공릉그린점</td>
 <td class="textR">             2,100</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,100</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.13</td>
 <td>체크<br/>549</td>
 <td class="textL">세븐일레븐노원공릉그린점</td>
 <td class="textR">             2,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.13</td>
 <td>체크<br/>549</td>
 <td class="textL">세븐일레븐노원공릉그린점</td>
 <td class="textR">             3,300</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             3,300</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.14</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">             1,100</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,100</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.11.15</td>
 <td>체크<br/>549</td>
 <td class="textL">최진사갈비 공릉점</td>
 <td class="textR">            27,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            27,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.15</td>
 <td>체크<br/>549</td>
 <td class="textL">(주)로보다인시스템</td>
 <td class="textR">            41,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            41,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.15</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             4,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.11.15</td>
 <td>체크<br/>549</td>
 <td class="textL">씨유서울과학기술대2관점</td>
 <td class="textR">             4,140</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             4,140</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.17</td>
 <td>체크<br/>549</td>
 <td class="textL">GS25 S공릉역점</td>
 <td class="textR">            14,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            14,000</td>
 <td class="textR">                 0</td>
 <td class="textR">               420</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.17</td>
 <td>체크<br/>549</td>
 <td class="textL">주) 우아한형제들</td>
 <td class="textR">            24,600</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            24,600</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">더블유(W)</td>
 <td class="textR">             3,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             3,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">(주) 설빙건대2호점</td>
 <td class="textR">            15,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            15,900</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">(주)라라브래드(공릉동지점)</td>
 <td class="textR">             8,400</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             8,400</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">느린마을양조장 건대점</td>
 <td class="textR">            57,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            57,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">라렌</td>
 <td class="textR">            17,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            17,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">네이버파이낸셜(주)</td>
 <td class="textR">            10,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            10,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">세븐일레븐노원공릉그린점</td>
 <td class="textR">             6,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             6,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.18</td>
 <td>체크<br/>549</td>
 <td class="textL">씨제이올리브네트웍스(주)공릉역점</td>
 <td class="textR">            38,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">            38,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.19</td>
 <td>체크<br/>549</td>
 <td class="textL">명랑시대쌀핫도그</td>
 <td class="textR">             1,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.19</td>
 <td>체크<br/>549</td>
 <td class="textL">이마트24 노원공릉점</td>
 <td class="textR">             1,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             1,800</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0.20</td>
 </tr>,
 <tr>
 <td>19.11.19</td>
 <td>체크<br/>549</td>
 <td class="textL">세븐일레븐노원공릉그린점</td>
 <td class="textR">             2,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             2,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.20</td>
 <td>체크<br/>549</td>
 <td class="textL">써브웨이</td>
 <td class="textR">             7,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR">             7,000</td>
 <td class="textR">                 0</td>
 <td class="textR">                 0</td>
 <td class="textR"> </td>
 </tr>,
 <tr>
 <td>19.11.20</td>
 <td>체크<br/>549</td>
 <td class="textL">주) 우아한형제들</td>

In [73]:
for n in range(len(tables_middleSum )) :
    tables.remove(tables_middleSum[n])

seperate_tables = []

for n in range(len(tables)) :
    table = str(tables[n].text).split('\n')
    seperate_tables = seperate_tables + table

seperate_tables

['',
 '19.10.28',
 '체크549',
 '서울과학기술대학교소비자생활협동조',
 '             1,200',
 '                 0',
 '                 0',
 '             1,200',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.10.28',
 '체크549',
 '이마트24 노원공릉점',
 '             4,000',
 '                 0',
 '                 0',
 '             4,000',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.10.29',
 '체크549',
 '맥도날드',
 '             5,000',
 '                 0',
 '                 0',
 '             5,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.10.29',
 '체크549',
 '다이소(공릉점)',
 '             9,020',
 '                 0',
 '                 0',
 '             9,020',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.10.30',
 '체크549',
 '이마트24 노원공릉점',
 '             7,300',
 '                 0',
 '                 0',
 '             7,300',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.10.30',
 '체크549',
 '자판기',
 '             1,200',
 '                 0',
 '                 0',
 '             1,200',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.10.31',
 '체크549',
 '고고치킨',
 '             8,500',
 '                 0',
 '                 0',
 '             8,500',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.10.31',
 '체크549',
 '이마트24 노원공릉점',
 '            10,000',
 '                 0',
 '                 0',
 '            10,000',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.10.31',
 '체크549',
 '주식회사 무신사',
 '           103,428',
 '                 0',
 '                 0',
 '           103,428',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.01',
 '체크549',
 '리코스타 코인 노래연습장',
 '             3,000',
 '                 0',
 '                 0',
 '             3,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.01',
 '체크549',
 '화로상회 공릉점',
 '            13,700',
 '                 0',
 '                 0',
 '            13,700',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.03',
 '체크549',
 '탐앤탐스 공릉역점',
 '             4,000',
 '                 0',
 '                 0',
 '             4,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.03',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             2,900',
 '                 0',
 '                 0',
 '             2,900',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.04',
 '체크549',
 '씨유서울과학기술대2관점',
 '             2,790',
 '                 0',
 '                 0',
 '             2,790',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.04',
 '체크549',
 '주) 우아한형제들',
 '            24,600',
 '                 0',
 '                 0',
 '            24,600',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.05',
 '체크549',
 '서울과학기술대학교소비자생활협동조',
 '             1,800',
 '                 0',
 '                 0',
 '             1,800',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.05',
 '체크549',
 '씨유서울과학기술대2관점',
 '             2,340',
 '                 0',
 '                 0',
 '             2,340',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.06',
 '체크549',
 '밥은',
 '             4,500',
 '                 0',
 '                 0',
 '             4,500',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.06',
 '체크549',
 '쿠팡',
 '            32,220',
 '                 0',
 '                 0',
 '            32,220',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.06',
 '체크549',
 '씨유서울과학기술대2관점',
 '             2,340',
 '                 0',
 '                 0',
 '             2,340',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.06',
 '체크549',
 '씨유서울과학기술대1관점',
 '             1,800',
 '                 0',
 '                 0',
 '             1,800',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.07',
 '체크549',
 '씨유서울과학기술대1관점',
 '             1,260',
 '                 0',
 '                 0',
 '             1,260',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.08',
 '체크549',
 '이마트24 노원공릉점',
 '             1,700',
 '                 0',
 '                 0',
 '             1,700',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.11.09',
 '체크549',
 '찬이네곱창',
 '            19,000',
 '                 0',
 '                 0',
 '            19,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.09',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             5,600',
 '                 0',
 '                 0',
 '             5,600',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.10',
 '체크549',
 '이동재스시',
 '            34,000',
 '                 0',
 '                 0',
 '            34,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.11',
 '체크549',
 '서울과학기술대학교소비자생활협동조',
 '             4,000',
 '                 0',
 '                 0',
 '             4,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.11',
 '체크549',
 'GS25 공릉타운점',
 '             2,000',
 '                 0',
 '                 0',
 '             2,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.12',
 '체크549',
 '이마트24 노원공릉점',
 '             2,300',
 '                 0',
 '                 0',
 '             2,300',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.11.12',
 '체크549',
 '맥도날드',
 '             5,900',
 '                 0',
 '                 0',
 '             5,900',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.12',
 '체크549',
 '탐앤탐스 공릉역점',
 '             4,000',
 '                 0',
 '                 0',
 '             4,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.13',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             2,100',
 '                 0',
 '                 0',
 '             2,100',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.13',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             2,000',
 '                 0',
 '                 0',
 '             2,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.13',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             3,300',
 '                 0',
 '                 0',
 '             3,300',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.14',
 '체크549',
 '이마트24 노원공릉점',
 '             1,100',
 '                 0',
 '                 0',
 '             1,100',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.11.15',
 '체크549',
 '최진사갈비 공릉점',
 '            27,000',
 '                 0',
 '                 0',
 '            27,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.15',
 '체크549',
 '(주)로보다인시스템',
 '            41,900',
 '                 0',
 '                 0',
 '            41,900',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.15',
 '체크549',
 '이마트24 노원공릉점',
 '             4,000',
 '                 0',
 '                 0',
 '             4,000',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.11.15',
 '체크549',
 '씨유서울과학기술대2관점',
 '             4,140',
 '                 0',
 '                 0',
 '             4,140',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.17',
 '체크549',
 'GS25 S공릉역점',
 '            14,000',
 '                 0',
 '                 0',
 '            14,000',
 '                 0',
 '               420',
 ' ',
 '',
 '',
 '19.11.17',
 '체크549',
 '주) 우아한형제들',
 '            24,600',
 '                 0',
 '                 0',
 '            24,600',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '더블유(W)',
 '             3,000',
 '                 0',
 '                 0',
 '             3,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '(주) 설빙건대2호점',
 '            15,900',
 '                 0',
 '                 0',
 '            15,900',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '(주)라라브래드(공릉동지점)',
 '             8,400',
 '                 0',
 '                 0',
 '             8,400',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '느린마을양조장 건대점',
 '            57,000',
 '                 0',
 '                 0',
 '            57,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '라렌',
 '            17,000',
 '                 0',
 '                 0',
 '            17,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '네이버파이낸셜(주)',
 '            10,000',
 '                 0',
 '                 0',
 '            10,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             6,000',
 '                 0',
 '                 0',
 '             6,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.18',
 '체크549',
 '씨제이올리브네트웍스(주)공릉역점',
 '            38,800',
 '                 0',
 '                 0',
 '            38,800',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.19',
 '체크549',
 '명랑시대쌀핫도그',
 '             1,000',
 '                 0',
 '                 0',
 '             1,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.19',
 '체크549',
 '이마트24 노원공릉점',
 '             1,800',
 '                 0',
 '                 0',
 '             1,800',
 '                 0',
 '                 0',
 '                 0.20',
 '',
 '',
 '19.11.19',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             2,000',
 '                 0',
 '                 0',
 '             2,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.20',
 '체크549',
 '써브웨이',
 '             7,000',
 '                 0',
 '                 0',
 '             7,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.20',
 '체크549',
 '주) 우아한형제들',
 '            29,000',
 '                 0',
 '                 0',
 '            29,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.20',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             1,000',
 '                 0',
 '                 0',
 '             1,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.21',
 '체크549',
 '씨유서울과학기술대2관점',
 '               900',
 '                 0',
 '                 0',
 '               900',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.22',
 '체크549',
 '서울과학기술대학교소비자생활협동조',
 '               800',
 '                 0',
 '                 0',
 '               800',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.22',
 '체크549',
 '맥도날드',
 '             5,900',
 '                 0',
 '                 0',
 '             5,900',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.23',
 '체크549',
 '씨유 공릉스타점',
 '             9,420',
 '                 0',
 '                 0',
 '             9,420',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.25',
 '체크549',
 'GS25 공릉타운점',
 '             2,000',
 '                 0',
 '                 0',
 '             2,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.25',
 '체크549',
 '씨유서울과학기술대2관점',
 '             3,150',
 '                 0',
 '                 0',
 '             3,150',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.25',
 '체크549',
 '세븐일레븐노원공릉그린점',
 '             4,600',
 '                 0',
 '                 0',
 '             4,600',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.26',
 '체크549',
 '숲속왕돈까스',
 '             6,500',
 '                 0',
 '                 0',
 '             6,500',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.26',
 '체크549',
 '빽다방 서울과기대점',
 '             2,000',
 '                 0',
 '                 0',
 '             2,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.26',
 '체크549',
 '서울과학기술대학교소비자생활협동조',
 '             4,000',
 '                 0',
 '                 0',
 '             4,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.26',
 '체크549',
 '새백조약국',
 '             5,000',
 '                 0',
 '                 0',
 '             5,000',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.11.26',
 '체크549',
 'GS25 공릉타운점',
 '             1,400',
 '                 0',
 '                 0',
 '             1,400',
 '                 0',
 '                 0',
 ' ',
 '',
 '',
 '19.10.26',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.10.26',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.10.27',
 '무승인549',
 '(주)티머니_지하철',
 '               500',
 '                 0',
 '                 0',
 '               500',
 '                 0',
 '                50',
 ' ',
 '',
 '',
 '19.10.27',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.10.27',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.10.28',
 '무승인549',
 '(주)티머니_지하철',
 '               500',
 '                 0',
 '                 0',
 '               500',
 '                 0',
 '                50',
 ' ',
 '',
 '',
 '19.11.02',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.11.03',
 '무승인549',
 '(주)티머니_버스',
 '             2,150',
 '                 0',
 '                 0',
 '             2,150',
 '                 0',
 '               215',
 ' ',
 '',
 '',
 '19.11.09',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.11.09',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.11.10',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.11.10',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.11.16',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.11.16',
 '무승인549',
 '(주)티머니_지하철',
 '             1,250',
 '                 0',
 '                 0',
 '             1,250',
 '                 0',
 '               125',
 ' ',
 '',
 '',
 '19.11.16',
 '무승인549',
 '(주)티머니_지하철',
 '               200',
 '                 0',
 '                 0',
 '               200',
 '                 0',
 '                20',
 ' ',
 '',
 '',
 '19.11.17',
 '무승인549',
 '(주)티머니_지하철',
 '               100',
 '                 0',
 '                 0',
 '               100',
 '                 0',
 '                10',
 ' ',
 '',
 '',
 '19.11.17',
 '무승인549',
 '(주)티머니_지하철',
 ...]

In [74]:
date_list = []

for n in range(1,len(seperate_tables), 12) :
    date = seperate_tables[n]
    date_list.append(date)
    
len(date_list)

94

In [75]:
store_list = []

for n in range(3,len(seperate_tables),12) :
    store = seperate_tables[n].replace(" ", "")
    store_list.append(store)
    
len(store_list)

94

In [76]:
location_list = []

def create_url(search_text):
    headers = {'Authorization': 'KakaoAK 3e8ea332f0cdef6293383ac7bf81a6fc'}

    base = "https://dapi.kakao.com/v2/local/search/keyword.json"
    param_query = "?query=" +search_text
#     print(f'base + param_query: {base + param_query}')
    respond = requests.get(base + param_query,headers=headers)
    return respond.json()

for n in range(len(store_list)) :
# for n in range(10) :
    store_name = store_list[n]
    result = create_url(store_name)
    tmp1 = result['documents']
    try :
        tmp2 = tmp1[0]
        tmp3 = tmp2['address_name']
        location_list.append(tmp3)
    except :
        tmp2 = '해당 주소가 없습니다.'
        location_list.append(tmp2)
#     tmp2 = tmp1[0]
#     tmp3 = tmp2['address_name']
#     location_list.append(tmp3)

In [77]:
len(location_list)

94

In [78]:
price_list = []

for n in range(4,len(seperate_tables),12) :
    price = seperate_tables[n]
    price_list.append(price)

len(price_list)

94

In [79]:
table_data = {'사용날짜':date_list, '사용처':store_list, '사용처주소':location_list,  '사용금액':price_list }

df1 = pd.DataFrame(table_data, columns=['사용날짜', '사용처', '사용처주소', '사용금액'])

df1

        사용날짜                사용처              사용처주소                사용금액
0   19.10.28  서울과학기술대학교소비자생활협동조       해당 주소가 없습니다.               1,200
1   19.10.28         이마트24노원공릉점  서울 노원구 공릉동 350-22               4,000
2   19.10.29               맥도날드   서울 강남구 역삼동 822-2               5,000
3   19.10.29           다이소(공릉점)  서울 노원구 공릉동 388-34               9,020
4   19.10.30         이마트24노원공릉점  서울 노원구 공릉동 350-22               7,300
..       ...                ...                ...                 ...
89  19.11.18         (주)티머니_지하철       해당 주소가 없습니다.               1,250
90  19.11.18         (주)티머니_지하철       해당 주소가 없습니다.               1,250
91  19.11.10         ALIEXPRESS       해당 주소가 없습니다.              50,348
92  19.11.10     ALIEXPRESS.COM       해당 주소가 없습니다.             106,299
93  19.11.17         ALIEXPRESS       해당 주소가 없습니다.             -50,348

[94 rows x 4 columns]

In [ ]:
excel_writer = pd.ExcelWriter('c:/myPyCode/data/carduselist.xlsx', 
                              engine='xlsxwriter')
df1.to_excel(excel_writer, index = False, sheet_name='카드사용리스트')
excel_writer.save()