### 함수의 기본 구조

In [7]:
a=1
b=2
def sum (a, b)
c = a+b
return c   # return 구문은 호출한곳으로 돌아간다.

SyntaxError: invalid syntax (<ipython-input-7-14e34592d58f>, line 3)

#### 인자도 반환 값도 없는 함수

In [24]:
def my_func() :
    print('my first function!')
    print('This is a function!')
    
# 1. 함수 선언
# 2. 함수 호출

In [10]:
my_func()

my first function!
This is a function!

#### 인자는 있으나 반환 값이 없는 함수

In [21]:
def myFriend(friendName) :                                # 함수 선언과 정의
    print('{}은 나의 친구 입니다.'.format(friendName))

In [22]:
myFriend('철호')  # 함수 호출

철호은 나의 친구 입니다.

In [25]:
def my_animal(animalName) :
    print('{}은 나의 애완동물 입니다.'.format(animalName))

In [26]:
my_animal('고슴도치')

고슴도치은 나의 애완동물 입니다.

In [27]:
def x (y) :
    print('{}은 알파벳입니다.'.format(y))

In [29]:
x('b')

b은 알파벳입니다.

In [30]:
def myFriend(friendName) :                                # f - string 대세!!
    print(f'{friendName}은 나의 친구 입니다.')

In [31]:
myFriend('철호')

철호은 나의 친구 입니다.

In [39]:
def my_student_info(name, school_ID, phoneNumber) :
    print('-------------------------')
    print('- 학생이름 :', name)
    print('- 학급번호 :', school_ID)
    print('- 전화번호 :', phoneNumber)

In [40]:
my_student_info('조철호', '02', '010-xxxx-0857')
my_student_info('최민지', '03', '010-xxxx-1234')

-------------------------
- 학생이름 : 조철호
- 학급번호 : 02
- 전화번호 : 010-xxxx-0857
-------------------------
- 학생이름 : 최민지
- 학급번호 : 03
- 전화번호 : 010-xxxx-1234

In [36]:
def my_student_info(name, school_ID, phoneNumber) :
    print('*****************************')
    print('* 학생이름 :', name)
    print('* 학급번호 :', school_ID)
    print('* 전화번호 :', phoneNumber)

In [38]:
my_student_info('조철호', '02', '010-xxxx-0857')
my_student_info('최민지', '03', '010-xxxx-1234')

*****************************
* 학생이름 : 조철호
* 학급번호 : 02
* 전화번호 : 010-xxxx-0857
*****************************
* 학생이름 : 최민지
* 학급번호 : 03
* 전화번호 : 010-xxxx-1234

#### 인자도 있고 반환 값도 있는 함수

In [41]:
def my_calc(x,y) :
    z = x*y
    return z     # 리턴은 호출한곳으로 되돌아감을 의미

In [42]:
my_calc(3,4)     # print 구문이 생략되어 있다.

12

In [49]:
def my_student_info_list(student_info) :
    print('-------------------------')
    print('- 학생이름 :', student_info[0])
    print('- 학급번호 :', student_info[1])
    print('- 전화번호 :', student_info[2])

In [53]:
student1_info = ['철호', '02', '010-xxxxx-0857']
my_student_info_list(student1_info)

-------------------------
- 학생이름 : 철호
- 학급번호 : 02
- 전화번호 : 010-xxxxx-0857

In [54]:
my_student_info_list(['진수', '02', '010-xxxx-0988'])

-------------------------
- 학생이름 : 진수
- 학급번호 : 02
- 전화번호 : 010-xxxx-0988