### 형 변환 함수

#### 정수형으로 변환

In [1]:
[int(0.123), int(3.5145654654654), int(-1.3874325786345)]

[0, 3, -1]

In [4]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

#### 실수형으로 변환

In [5]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [6]:
[float('10'), float('0.123'), float('567.89')]

[10.0, 0.123, 567.89]

#### 문자형으로 변환

In [7]:
[str(123), str(45678), str(-987)]

['123', '45678', '-987']

In [11]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

#### 리스트, 튜플, 세트형으로 변환

In [12]:
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}

In [14]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [16]:
print('리스트로 변환 : ', list(tuple_data), list(set_data))

리스트로 변환 :  ['abc', 1, 2, 'def'] ['abc', 1, 2, 'def']

In [17]:
print('튜플로 변환 : ', tuple(list_data), tuple(set_data))

튜플로 변환 :  ('abc', 1, 2, 'def') ('abc', 1, 2, 'def')

In [18]:
print('세트로 변환 : ', set(list_data), set(tuple_data))

세트로 변환 :  {'abc', 1, 2, 'def'} {'abc', 1, 2, 'def'}

### bool 함수

#### 숫자를 인자로 bool 함수 호출

In [19]:
bool(0) # 인자: 숫자 0

False

In [20]:
bool(1) # 인자 : 양의 정수

True

In [21]:
bool(-10) # 인자 : 음의 정수

True

In [22]:
bool(5.12) # 인자 : 양의 실수

True

In [23]:
bool(-3.26) # 인자 : 음의 실수

True

#### 문자열을 인자로 bool 함수 호출

In [24]:
bool('a') # 인자 : 문자열 'a'

True

In [25]:
bool(' ') # 인자 : 빈 문자열 (공백)

True

In [26]:
bool('') # 인자 : 문자열 없음

False

In [27]:
bool(None) # 인자 : None

False

#### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [28]:
myFriends = []
bool(myFriends) # 인자 : 항목이 없는 빈 리스트

False

In [29]:
myFriends = ['James', 'Roebert', 'Lisa', 'Mary']
bool(myFriends) # 인자 : 항목이 있는 리스트

True

In [30]:
myNum = ()
bool(myNum) # 인자 : 항목이 없는 빈 튜플

False

In [31]:
myNum = (1,2,3)
bool(myNum) # 인자 : 항목이 있는 튜플

True

In [33]:
mySetA = {}
bool(mySetA) # 인자 : 항목이 없는 빈 세트

False

In [34]:
mySetA = {10,20,30}
bool(mySetA) # 인자 : 항목이 있는 세트

True

In [35]:
def print_name(name) :
    if bool(name):
        print('입력된 이름 : ', name)
    else :
        print('입력된 이름이 없습니다.')

In [36]:
print_name('James')
print_name('')

입력된 이름 :  James
입력된 이름이 없습니다.

### 최솟값과 최댓값을 구하는 함수

In [37]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
print([min(myNum), max(myNum)])

[0, 99.5]

In [38]:
myStr = 'zxyabc'
print([min(myStr), max(myStr)])

['a', 'z']

In [40]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
print([min(myNum), max(myNum)])

[0, 99.5]

In [41]:
myStr = {'Abc', 'abc', 'bcd', 'efg'}
print([min(myStr), max(myStr)])

['Abc', 'efg']

In [43]:
myStr = {'Abc', 'abc', '13', '20'}
print([min(myStr), max(myStr)])

['13', 'abc']

### 절대값과 전체 합을 구하는 함수

In [44]:
[abs(10), abs(-10)]

[10, 10]

In [45]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [46]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

In [47]:
sumTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sum(sumTuple)

55

### 항목의 개수를 구하는 함수

In [48]:
len('ab cd') # 문자열

5

In [50]:
len([1, 2, 3, 4, 5, 6, 7, 8]) # 리스트

8

In [52]:
len((1, 2, 3, 4, 5, 6, 7, 8)) # 튜플

8

In [53]:
len({'a', 'b', 'c', 'd'}) # 세트

4

In [54]:
len({1:'Thomas', 2:'Edward', 3:'Henry'}) # 딕셔너리

3

### 내장 함수의 활용

In [60]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

score_sum = 0    # 총점 계산을 위한 초깃값 설정
subject_num = 0  # 과목수 계산을 위한 초깃값 설정

for score in scores :
    score_sum = score_sum + score  # 과목별 점수 모두 더하기
    subject_num = subject_num + 1  # 과목수 계산

average = score_sum / subject_num # 평균 구하기

print('총점 : {0}, 평균 : {1}'.format(score_sum, average))

총점 : 350, 평균 : 87.5

In [57]:
scores = [90, 80, 95, 85]

print('총점 : {0}, 평균 : {1}'.format(sum(scores), sum(scores)/len(scores)))

총점 : 350, 평균 : 87.5

In [58]:
print(f'최고점수 : {max(scores)}, 최하점수 : {min(scores)}')

최고점수 : 95, 최하점수 : 80

In [62]:
scores = [90, 80, 95, 85]

print(f'총점 : {sum(scores)}, 평균 : {sum(scores)/len(scores)}')

총점 : 350, 평균 : 87.5

### mission

In [68]:
# sum()과 len() 사용하지 않고 만들어보기

typings = [395, 269, 268, 264, 255, 243, 241, 240, 236, 225]

typing_sum = 0
typing_num = 0

for typing in typings :
    typing_sum = typing_sum + typing
    typing_num = typing_num + 1
    
average = typing_sum / typing_num

print(f'총점: {typing_sum}, 평균: {average}')

총점: 2636, 평균: 263.6

In [71]:
# sum()과 len() 사용해서 만들어보기

typings = [395, 269, 268, 264, 255, 243, 241, 240, 236, 225]

print(f'총점: {sum(typings)}, 평균: {sum(typings)/len(typings)}')

총점: 2636, 평균: 263.6

In [72]:
# 최고점수와 최하점수 구하기

typings = [395, 269, 268, 264, 255, 243, 241, 240, 236, 225]

print(f'최고점수: {max(typings)}, 최하점수: {min(typings)}')

최고점수: 395, 최하점수: 225