In [1]:
print('Best', 'python', 'book', sep='-')

Best-python-book

In [2]:
print('010', '****', '0857', sep=' - ')

010 - **** - 0857

In [3]:
name = 'James'
ID_num = 789
print('Name:', name + ',', 'ID Number:', ID_num)

Name: James, ID Number: 789

In [9]:
print('나의 친구는\n조철호 이다.')

나의 친구는
조철호 이다.

In [8]:
print('나의 친구는\n\n조철호 이다.')

나의 친구는

조철호 이다.

In [10]:
print('Welcom to ', end='')
print('python!')

Welcom to python!

In [11]:
print('010', '2699', '0857', sep = '-')

010-2699-0857

In [13]:
print("010","",sep="-",end="")
print("1234","",sep="-",end="")
print("5678")

010-1234-5678

In [15]:
print( 'best python book' )
print( 'best', 'python', 'book')

best python book
best python book

In [16]:
print('Best', 'python', 'book', sep='-')

Best-python-book

In [17]:
print('Best' + 'python' + 'book')

Bestpythonbook

In [18]:
print('Best', 'python', 'book' + ':', 'This book')

Best python book: This book

In [19]:
print('Best', 1)

Best 1

In [2]:
print('Best', 1)

Best 1

In [1]:
name = 'James'
ID_num = 789
print('Name', name + ',', 'ID Number:', ID_num)

Name James, ID Number: 789

In [23]:
print('James is my friend.\nHe is Korean.')

James is my friend.
He is Korean.

In [24]:
print('Welcome to')
print('python!')

Welcome to
python!

In [28]:
print('Welcome to ', end='')
print('python!')

Welcome to python!

#### 형식 지정 출력

##### 나머지 연산자(%)를 이용한 형식 및 위치 지정

In [4]:
name = '광재'
print('%s는 나의 친구입니다.' % name)
print(name + '는 나의 친구입니다.')

광재는 나의 친구입니다.
광재는 나의 친구입니다.

In [5]:
r = 3
PI = 3.1415929894989
print('반지름: %d, 원주율: %f' %(r,PI))

반지름: 3, 원주율: 3.141593

##### 형식 지정 문자열에서 출력 위치 지정

In [6]:
animal_0 = 'cat'
animal_1 = 'dog'
animal_1 = 'fox'

print('Animal: {0}'. format(animal_0))
print('Animal: {0},{1},{2}'. format(animal_0, animal_1, animal_2))

Animal: cat

NameError: name 'animal_2' is not defined

In [7]:
animal_0 = 'cat'
animal_1 = 'dog'
animal_2 = 'fox'

print('Animal: {0}'. format(animal_0))
print('Animal: {0},{1},{2}'. format(animal_0, animal_1, animal_2))

Animal: cat
Animal: cat,dog,fox

In [8]:
print('Animal: {1},{2},{0}'. format(animal_0, animal_1, animal_2))

Animal: dog,fox,cat

In [10]:
phone_0 = '010'
phone_1 = '2699'
phone_2 = '0857'

print('Phone num : {0}-{1}-{2}'.format(phone_0, phone_1, phone_2))

Phone num : 010-2699-0857

In [11]:
print('Phone num : {1}-{2}'.format(phone_0, phone_1, phone_2))

Phone num : 2699-0857

In [12]:
phone_0 = '010'
phone_1 = '2699'
phone_2 = '0857'

print('Phone num : {0}-****-{2}'.format(phone_0, phone_1, phone_2))

Phone num : 010-****-0857

In [13]:
print('Animal: {0},{2}'. format(animal_0, animal_1, animal_2))

Animal: cat,fox

In [14]:
print('Animal: {},{},{}'. format(animal_0, animal_1, animal_2))

Animal: cat,dog,fox

In [15]:
name = 'Thomas'
age = 10
a = 0.123135135245135135135135
fmt_string = 'String: {0}, Integer Number: {1}, Floating Number: {2}'
print(fmt_string.format(name, age, a))

String: Thomas, Integer Number: 10, Floating Number: 0.12313513524513514

##### 형식 지정 문자열에서 숫자 출력 형식 지정

In [16]:
a = 0.1234567890123456789
print('{0}, {0}'.format(a))

0.12345678901234568, 0.12345678901234568

In [17]:
a = 0.1234567890123456789
print('{0:.2f}, {0:.5f}'.format(a)) # 소수점 지정 가능 / 반올림 적용됨!

0.12, 0.12346

In [18]:
x = 3
print(x)

3

In [19]:
x = 3
print('{0}'.format(x))

3

In [20]:
x = 3
print('{0:2d}'.format(x))

 3

In [21]:
x = 3
print('{0:05d}'.format(x))

00003

In [24]:
x = 3
print('{0:5d}'.format(x))

    3

In [22]:
x = 3
print('{0:>05d}'.format(x))

00003

In [23]:
x = 3
print('{0:<05d}'.format(x))

30000

In [26]:
x = 3
print('{0}'.format(x))

3

In [27]:
x = 3
print('{0:.3f}'.format(x))

3.000

In [28]:
x = 0.12345
print('{0:.3f}'.format(x))

0.123

In [29]:
x= 7456000
print('{0:,}'.format(x))

7,456,000

In [30]:
x = 0.3258
print('{0:.1%}'.format(x))

32.6%

In [31]:
x = 9250000000000000
print('{0:.2e}'.format(x))

9.25e+15

In [32]:
x = 16
print('{0:#x}'.format(x))

0x10

In [33]:
x = 16
print('{0:x}'.format(x))

10

In [34]:
x = 8
print('{0:#b}'.format(x))

0b1000

In [35]:
x = 8
print('{0:b}'.format(x))

1000

철호는 나의 친구입니다

반지름: 3, 원주율: 3.145969