### 난수 발생 모듈

In [2]:
import random

random.random()

0.5601337065541901

In [3]:
import random

random.randint(1,6)

4

In [5]:
import random

dice1 = random.randint(1,6) # 임의의 정수가 생성됨
dice2 = random.randint(1,6) # 임의의 정수가 생성됨
print(f'주사위 두 개의 숫자: {dice1}, {dice2}')

주사위 두 개의 숫자: 4, 1

In [13]:
import random

random.randrange(0,11,2)

6

In [22]:
import random

num1 = random.randrange(1, 10, 2)    # 1 ~ 9(10-1) 중 임의의 홀수 선택
num2 = random.randrange(0, 100, 10)  # 0 ~ 99(100-1) 중 임의의 10의 단위 숫자 선택
print(f'num1: {num1}, num2: {num2}')

num1: 3, num2: 80

In [23]:
import random

menu = ['비빔밥', '된장찌개', '볶음밥', '불고기', '스파게티', '피자', '탕수육']

random.choice(menu)

'비빔밥'

In [25]:
import random

random.sample(['비빔밥', '된장찌개', '볶음밥', '불고기', '스파게티', '피자'],2)

['피자', '불고기']

In [27]:
import random

# one, two, three, four, five
# one : 첫번째 나오는 공
# two : 두번째 나오는 공
# three : 세번째 나오는 공
# four : 네번째 나오는 공
# five : 다섯번째 나오는 공

one = random.randrange(1, 46)
print(one)

two = random.randrange(1, 46)
print(two)

three = random.randrange(1, 46)
print(three)

four = random.randrange(1, 46)
print(four)

five = random.randrange(1, 46)
print(five)

29
16
43
7
27

In [28]:
import random

menu = ['비빔밥', '돈까스', '김밥']

random.choice(menu)

'돈까스'

In [32]:
import random

random.sample(menu,1)

['비빔밥']

In [36]:
import random
random.sample(range(1,46),6)

[13, 27, 39, 45, 41, 14]

### 날짜 및 시간 관련 처리 모듈

In [52]:
import datetime

set_day = datetime.date(2019, 3, 1)
print(set_day)

2019-03-01

In [54]:
import datetime

set_day = datetime.date(2020, 10, 26)
print(set_day)

2020-10-26

In [39]:
print(f'{set_day.year}/{set_day.month}/{set_day.day}')

2020/10/26

In [40]:
import datetime

day1 = datetime.date(2019, 4, 1)
day2 = datetime.date(2019, 7, 10)

diff_day = day2 - day1
print(diff_day)

100 days, 0:00:00

In [41]:
type(day1)

datetime.date

In [43]:
type(diff_day)

datetime.timedelta

In [45]:
print(f'{diff_day.days}일이 남았습니다.')

100일이 남았습니다.

In [47]:
import datetime
print(datetime.date.today())

2020-10-26

In [50]:
import datetime

today = datetime.date.today()
special_day = datetime.date(2020, 12, 10)
diff_day = special_day - today
print(f'결혼 기념일은 {diff_day.days}일 남았습니다.')

결혼 기념일은 45일 남았습니다.

In [76]:
import datetime

set_time = datetime.time(15, 30, 45)
print(set_time)

15:30:45

In [77]:
print(f'{set_time.hour}:{set_time.minute}:{set_time.second}')

15:30:45

In [81]:
import datetime

set_dt = datetime.datetime(2018, 10, 9, 10, 20, 0)
print(set_dt)

2018-10-09 10:20:00

In [84]:
print(f'날짜 {set_dt.year}/{set_dt.month}/{set_dt.day}')
print(f'시간 {set_dt.hour}:{set_dt.minute}:{set_dt.second}')

날짜 2018/10/9
시간 10:20:0

In [86]:
import datetime

now = datetime.datetime.now()

print(now)

2020-10-26 13:59:53.115032

In [56]:
import datetime

now = datetime.datetime.now()
print(now)

2020-10-26 12:21:19.969793

In [57]:
print('Date & Time : {:%Y-%m-%d, %H:%M:%S}'.format(now))

Date & Time : 2020-10-26, 12:21:19

In [58]:
print('Date : {:%Y, %m, %d}'.format(now))
print('Time : {:%H/ %M /%S}'.format(now))

Date : 2020, 10, 26
Time : 12/ 21 /19

In [59]:
now =datetime.datetime.now()

set_dt = datetime.datetime(2017, 12, 1, 12, 30, 45)

print('현재 날짜 및 시각:', now)
print('차이:', set_dt - now)

현재 날짜 및 시각: 2020-10-26 12:24:54.651624
차이: -1060 days, 0:05:50.348376

In [60]:
from datetime import date, time, datetime

print(date(2019, 7, 1))

2019-07-01

In [61]:
print(date.today())

2020-10-26

In [62]:
print(time(15, 30, 45))

15:30:45

In [63]:
print(datetime(2020, 2, 14, 18, 10, 50))

2020-02-14 18:10:50

In [64]:
print(datetime.now())

2020-10-26 12:28:06.550391

### 달력 생성 및 처리 모듈

In [65]:
import calendar

print(calendar.calendar(2018))

                                  2018

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [66]:
print(calendar.calendar(2020, m=4))

                                               2020

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1             1  2  3  4  5
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8       6  7  8  9 10 11 12
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15      13 14 15 16 17 18 19
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22      20 21 22 23 24 25 26
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29      27 28 29 30
                                                    30 31

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
25 26 27 28 29 30 31      29 30                     27 28 29 30 31            24 25 26 27 28 29 30
                                                                              31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1          1  2  3  4  5  6
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                                                    30

In [68]:
print(calendar.month(2020, 9))

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [69]:
calendar.monthrange(2020,2)

(5, 29)

In [70]:
calendar.firstweekday()

0

In [71]:
calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2020, 9))

   September 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [72]:
calendar.firstweekday()

6

In [74]:
print(calendar.weekday(2018, 10, 14))

6

In [75]:
print(calendar.isleap(2018))
print(calendar.isleap(2020))

False
True